debug            : NO

# level 1 image dimensions
nx               : 620
ny               : 620

## line center wavelengths
wavefwhm         : 0.12

# was 1074.7
center_1074      : 1074.62
center_1079      : 1079.8
center_1083      : 1083.0

1074_3pt_wavelengths : [1074.50, 1074.62, 1074.74]
1079_3pt_wavelengths : [1079.66, 1079.78, 1079.90]
1083_3pt_wavelengths : [1082.91, 1083.00, 1083.09]

1074_5pt_wavelengths : [1074.38, 1074.50, 1074.62, 1074.74, 1074.86]
1079_5pt_wavelengths : [1079.54, 1079.66, 1079.78, 1079.90, 1080.02]

# display values
display_min_1074 : 0.0
display_min_1079 : 0.0
display_min_1083 : 0.0

display_max_1074 : 5.0
display_max_1079 : 3.0
display_max_1083 : 12.0

display_exp_1074 : 0.5
display_exp_1079 : 0.5
display_exp_1083 : 0.3

# distortion coefficients
distortion_coeffs_file : dist_coeff_20161107.sav

## thresholds for L1 data checking

nominal_overlap_angle     : 45.0
overlap_angle_tolerance   : 3.0

post_angle_diff_tolerance : 3.0

background_limit          : 8.0
min_flat_median           : 70.0

check_lcv6_temp           : YES
nominal_lcvr6_temp        : 30.0
lcvr6_temp_tolerance      : 5.0

nominal_filt_temp         : 35.0
filt_temp_tolerance       : 1.0

## thresholds for cutting out bad data in the L2 products

# Maximum value for background to pass GBU. Default: 16.0
gbu_max_background            : 16.0
# Minimum value for background to pass GBU. Default: 1.0
gbu_min_background            : 1.0
# Generate warnings for median background larger than this value. Default: 8.0
gbu_med_background            : 8.0
# Maximum sigma value to pass GBU. Default: 2.0
gbu_max_sigma                 : 2.0
# Maximum fraction of change for background. Default: 0.4
gbu_percent_background_change : 0.4
# Threshold value for the background. Default: 70.0
gbu_background_threshold      : 70.0
# Number of pixels over background threshold to mark image bad. Default: 150
gbu_threshold_count           : 150

# millionths of solar disk intensity
int_min_thresh  : 0.1
int_max_thresh  : 60.0
diff_thresh     : 4

stokes          : [I, Q, U, V]

post_rotation   : -2.5
post_width      : 32.0
occulter_offset :  4.0
field_offset    : -6.0
field_overlap   :  6.0
plate_scale     :  4.46

post_angle_guess     : 180.0
post_angle_tolerance : 30.0

# new values from Steve Oct 2014 (don't know what to use before)
i_to_q_xtalk    : -0.000581
i_to_u_xtalk    :  0.004841
u_to_q_xtalk    :  0.0
q_to_u_xtalk    :  0.0
i_to_v_xtalk    : -0.001158
q_to_v_xtalk    :  0.073802
u_to_v_xtalk    : -0.155195

# 20160725 values
#i_to_q_xtalk    :  0.000295
#i_to_u_xtalk    :  0.002541
#u_to_q_xtalk    :  0.0
#q_to_u_xtalk    :  0.0
#i_to_v_xtalk    : -0.000621
#q_to_v_xtalk    :  0.028386
#u_to_v_xtalk    : -0.182569

# ND filter transmissions as a ratio to ND 8 (clear)
# determined from data taken on 20160516 at 113149, 113351, 113554, 113756,
# 113958, 114201, 114403, 114606
nd1 : 0.83820683
nd2 : 0.49466920
nd3 : 0.31343165
nd4 : 0.09221819
nd5 : 0.00952949
nd6 : 0.00186020
nd7 : 0.99590516
nd8 : 1.00000000


# prior to occulter change on September 29, 2011
[20110928]
post_rotation   :  1.0
occulter_offset :  4.0
field_offset    : -6.0
field_overlap   :  6.0
plate_scale     :  4.46


# changed occulter, going from existing #31 to #35, 2012-1-10
[20120110]
post_rotation   :  1.0
occulter_offset :  4.0
field_offset    : -6.0
field_overlap   : 24.0
plate_scale     :  4.46


# something changed in field, arbitrarily starting anew at 2012-6-1
[20120601]
post_rotation   :  2.0
occulter_offset :  4.0
field_offset    : -2.0
field_overlap   : 16.0
plate_scale     :  4.46


# plate scale changed with installation of new reimaging lens on 2012-12-7
[20121209]
post_rotation   :  0.0
#occulter_offset :  3.0
occulter_offset :  1.0
field_offset    : -2.0
field_overlap   : 16.0
plate_scale     :  4.35


# the flat values are gradually decreasing, dropping the threshold
[20150901]
min_flat_median      : 55.0

# CoMP comes back online
[20170510]
post_angle_guess     : -8.0

# Cropico powered down and unplugged, LCVR voltages/temps will not be updated
# until UCoMP deployment
[20161226.112658]
check_lcv6_temp : NO
